<a href="https://colab.research.google.com/github/StanleyNyadzayo/python-markdown2/blob/master/lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [3]:
!pip install findspark
import findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
df = spark.read.json("/content/drive/MyDrive/Colab Notebooks/data.json")
df.show()

+----+------+
| age|  name|
+----+------+
|NULL|  Carl|
|  30|Rachel|
|  19|  Paul|
+----+------+

In [15]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df.columns

['age', 'name']

In [22]:
from pyspark.sql.types import (StructField, StringType, IntegerType, StructType)
data_schema = [StructField('age', IntegerType(), True), StructField('name', StringType(), True)]
final_structure = StructType(fields = data_schema)
df = spark.read.json("/content/drive/MyDrive/Colab Notebooks/data.json", schema=final_structure)
df.printSchema()

# The data type changed from long to int

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [24]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [25]:
df.head(3)

[Row(age=None, name='Carl'),
 Row(age=30, name='Rachel'),
 Row(age=19, name='Paul')]

In [26]:
df.head(3)[0]

Row(age=None, name='Carl')

In [27]:
df.head(3) [2]
# the purpose of .head() method is to retrieve the first n rows of the data frame

Row(age=19, name='Paul')

In [28]:
df.select(['name', 'age']).show()

+------+----+
|  name| age|
+------+----+
|  Carl|NULL|
|Rachel|  30|
|  Paul|  19|
+------+----+

In [30]:
df.withColumn('trueage',df['age']).show()

+----+------+-------+
| age|  name|trueage|
+----+------+-------+
|NULL|  Carl|   NULL|
|  30|Rachel|     30|
|  19|  Paul|     19|
+----+------+-------+

In [31]:
df.withColumn('trueage',df['age']+2).show()

+----+------+-------+
| age|  name|trueage|
+----+------+-------+
|NULL|  Carl|   NULL|
|  30|Rachel|     32|
|  19|  Paul|     21|
+----+------+-------+

In [32]:
df.show()

+----+------+
| age|  name|
+----+------+
|NULL|  Carl|
|  30|Rachel|
|  19|  Paul|
+----+------+

In [33]:
# Assign the result of withColumn back to df
df = df.withColumn('trueage', df['age'] + 2)

# Now show the updated DataFrame
df.show()

+----+------+-------+
| age|  name|trueage|
+----+------+-------+
|NULL|  Carl|   NULL|
|  30|Rachel|     32|
|  19|  Paul|     21|
+----+------+-------+